.form {
    margin: 0 0 48px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.input {
    width: 497px;
    padding: 22px 0 15px 25px;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
}

.input:focus {
    outline: none;
}

.button {
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 0%);
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.button:hover {
    background-color: hsl(0, 0%, 25%);
}

.buttonIcon {
    width: 9px;
    height: 14px;
    background-image: url('../../public/images/icon-arrow.svg');
}

@media (max-width: 500px) {
    .input {
        width: 380px;
    }
}